body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* 浅灰色背景 */
}
.container { 
    width: 60%;
    margin: 5px; /* 上下边距20px，自动水平居中 */
    background-color: #fff; /* 白色背景 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
    cursor: pointer; /* 鼠标悬停时显示手形光标 */
}
.content-image {
    float: left; /* 图片向左浮动 */
    margin-right: 20px; /* 图片与文本之间的间距 */
}
.content-image img {
    width: auto; /* 图片宽度自动，保持比例 */
    height: 120px; /* 图片高度，根据实际情况调整 */
}
h1, p, a {
    color: #333;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}